<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>
<link rel="stylesheet" href="/css/header.css">
<header>
    <span id="appName">Polling App</span>
    <span id="home"><a href="/"><i class="fa-solid fa-house me-3"></i>Home</a></span>
</header>