<link rel="stylesheet" href="/css/home.css">
<div class="homeContainer">
    <div class="askQuestionContainer">
        <div class="askquestion mt-5">
            <div>Ask a Question!!</div>
            <form action="/question/create" method="post">
                <input type="text" name="question" required><br><br>
                <input type="submit">
            </form>
        </div>
    </div>
    <div class="openQuestionCon">
        <div class="openQ mt-5">
            <h2 style="text-align: center;" class="mt-3">Open Questions</h2>
            <hr>
            <ul class="list-group mt-3 mx-3" style="list-style: none;" id="openQuestionList">
                <% doc.forEach((item)=>{ %>
                    <li>
                        <span class="me-5">
                            <%=item.question%> ?
                        </span>
                        <span class="ms-5">
                            <a href="/question/view/<%=item.id%>" id="view"><i class="fa-solid fa-eye"></i></a>
                            <a href="/question/delete/<%=item.id%>" id="delete"><i class="fa-solid fa-trash"></i></a>
                        </span>
                    </li>
                    <hr>
                    <%})%>
            </ul>
        </div>
    </div>
</div>